@import url("https://fonts.googleapis.com/css?family=Secular+One");
div {
    padding: 0px;
}
nav {
    padding: 0px;
}

.navbar-brand {
    font-family: 'Secular One', serif;
    font-size: xx-large !important;
    display: flex;
    align-items: end;   
    color: #f7f7f7 !important;
}

.navbar-brand > img {
    margin-right: 8px;
}