<Navbar />
<div class="container">
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
    <MediaCard />
</div>